// FONT
$font_family              : 'Roboto', sans-serif;
$font_weight              : 400;
$line_height              : 1.2;

// SCREEN SIZE — SS
$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

// COLORS
$color_text               : #242424;
$color_primary            : #6A2383;
$color_secondary          : #00A291;